.add-remove-button {
  width: auto;
  justify-content: center;
  align-items: center;
  display: block;

  .items {
    align-items: center;
    justify-content: center;
    width: 60px;
    display: block;
    font-family: "Open Sans Condensed";
    font-weight: bolder;
    background-color: red;
    color: white;
    border-radius: 20px;
  }
}
