.size-selector {
  width: 22vw;
  min-width: 165px;
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  position: relative;

  .title {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-family: "Open Sans Condensed";
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 50px;
    color: red;
  }

  .num-picker {
    width: auto;
    display: flex;
  }

  .continue-button {
    width: 80%;
    margin: 10px 0;
  }
}
