.new-tournament-page {
  width: auto;
  min-width: 200px;
  display: flex;
  flex-direction: column;

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
  }
}
