body {
  font-family: "Open Sans Condensed";
  padding: 20px 40px; /* 20 pixels on the top and bottom, 40 left and right */
}

a {
  text-decoration: none;
  color: black;
}

/* the 'universal selector' */
* {
  box-sizing: border-box;
}
